<p id="notice"><%= notice %></p>

<h2>Comments</h2>
<div class="comment">
<%= @comment.content %>
</div>
<div class="subcomments_form">
<%= form_for([@post,@comment, @comment.subcomments.build]) do |f|%>
 <%= f.text_area :content %>
 <%= f.submit %>
 <%end%>
</div>
<div class="subcomment">
 <% @subcomments.each do |subcomment|%>
 <%= subcomment.content %>
 <p><%= link_to 'delete', [@post,@comment,subcomment] , method: :delete %>
 <%end%>
</div>
<%= link_to 'back', post_path(@post) %>
