<p id="notice"><%= notice %></p>
<header>
<h1>WorldWideStories</h1>
<nav >
 <ul class='navigation'>
   <% if current_user %>
   <li><%= link_to 'Home', home_path, :class=> 'home'%></li>
   <%end%>
   <li><%= link_to 'stories', posts_path ,:class=>'stories'%></li>
   <li>popular </li>
   <li>videos </li>
   <li>funny </li>
   <li>more </li>
 </ul>
</nav>
</header>
<h2>Comments</h2>
<div class="comment">
<%= @comment.content %>
</div>
<div class="subcomments_form">
<%= form_for([@post,@comment, @comment.subcomments.build]) do |f|%>
 <%= f.text_area :content %>
 <%= f.submit %>
 <%end%>
</div>
<div class="subcomment">
 <% @subcomments.each do |subcomment|%>
 <%= subcomment.content %>
 <p><%= link_to 'delete', [@post,@comment,subcomment] , method: :delete %>
 <%end%>
</div>
<%= link_to 'back', post_path(@post) %>
