<h1>WorldWideStories</h1>

<nav class='nav'>
 <ul class='navigation'>
   <li><%= link_to 'Home', home_path, :class=> 'home'%></li>
   <li><%= link_to 'stories', posts_path %></li>
   <li>popular </li>
   <li>videos </li>
   <li>funny </li>
   <li>more </li>
 </ul>
</nav>


<p>Welcome back, <%= current_user.username %>!</p>
<%= link_to 'New Post', new_post_path %>
<footer>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
</footer>
