<div class= 'search_form'>
  <%= form_tag(posts_path, :method => "get") do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<% if @posts.blank? %>
  <h4>There are no posts containing the term <%= params[:search] %>.</h4>
<% end %>
</div>
<main>
    <% @posts.each do |post| %>
    <div class="post" >
        <p class='title'><%= post.title %></p>
        <div class='content'>
          <p><%= post.content %></p>
          <% if post.user==current_user%>
          <div class="current_user_choice">
            <p><%= link_to 'edit', edit_post_path(post),:class=>'edit'%></p>
            <p><%= link_to 'delete', post, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'delete'%></p>
          <%end%>
          </div>
        </div>
        <p class="comments_count"><%=pluralize(post.comments.count, 'comment')%></p>
        <p class="username">Submitted by<strong> <%=post.user.username %></strong> <%= time_ago_in_words(post.created_at) %> ago</p>
        <div class='votes'>
          <% if current_user %>
            <%= form_for([post,post.vote_for(current_user)]) do |f| %>
              <%= f.number_field :vote ,value: 1, type: :hidden %>
              <%= f.submit :Like, disabled: f.object.vote==1 %>
              <%end%>
          <p><%= post.total_votes %> likes</p>
           <%= form_for([post,post.vote_for(current_user)]) do |f| %>
              <%= f.number_field :vote ,value: -1, type: :hidden %>
              <%= f.submit :Dislike, disabled: f.object.vote==-1%>
           <%end%>
          <% else %>
           <p><%= post.total_votes%> likes </p>
          <%end%>
      </div>
    </div>
    <% end %>
</main>
<footer>
<% if current_user %>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class=>'sign_out' %>
<%end%>
</footer>
