
<p id="notice"><%= notice %></p>
<div class="show_post">
<p class="show_title">
  <%= @post.title%>
</p>

<p class="show_content">
  <%= @post.content %>
</p>
<p class="username">Submitted by <strong><%=@post.user.username %></strong> <%= time_ago_in_words(@post.created_at) %> ago</p>
</div>
<% if @post.user==current_user%>
<div class="current_user_choice">
<p><%= link_to 'Edit', edit_post_path(@post),:class=>'edit'%></p>
<p><%= link_to 'delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'delete'%></p>
<%end%>
</div>
<h2>Comments</h2>
<%= render template: 'comments/index' %>
<footer>
<% if current_user %>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class=>'sign_out' %>
<%end%>
</footer>
