<!DOCTYPE html>
<html>
  <head>
    <title>Postalia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <h1>POSTALIA</h1>
    <nav >
     <ul class='navigation'>
       <li><%= link_to 'Home', home_path, :class=> 'menu'%></li>
       <li><%= link_to 'stories', posts_path ,:class=>'menu'%></li>
       <li><%= link_to 'popular', posts_popular_path, :class=>'menu' %> </li>
       <li>videos </li>
       <li><%= link_to 'funny' ,posts_funny_path, :class=>'menu'  %> </li>
       <li>more </li>
     </ul>
    </nav>
  </header>
    <p class="alert"><%= alert %></p>
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
